.App {
  
  font-size: 13px;
  display: flex;
  flex-direction: column;
}
.div-messege{
  float: left;
}
.App .MessageList {
  box-sizing: border-box;
  flex: 1;
  height: 400px;
  width: 600px;
  border: 3px solid ;
  border-radius: 3px;
  margin: .5em;
  
}

.App .MessageForm {
  background: rgb(236, 255, 154);
  /* border-top: 3px solid ; */
  border-radius: 0 0 3px 3px;
  box-sizing: border-box;
  flex: 0 0 30px;
  width: 600px;
  
  
}
